/*Variables*/
:root {
    --navbarMainColor: rgb(0,0,0);
    --navbarHoverColor: gray;
    --navbarFontColor: white;
}







html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Segoe UI'
}

/*Navbar*/
.navbar {
    height: 50px;
    background-color: rgb(0,0,0);
    border: 0px;
    padding: 0;
}

.navbar-brand {
    color: var(--navbarFontColor);
    border: 0px;
    padding: 10px;
    padding-right:15px;
}

    .navbar-brand:hover {
        /*color:gray;*/
    }

    .navbar-brand:hover {
        background-color: var(--navbarHoverColor);
    }

.nav-link {
    color: var(--navbarFontColor);
}

.navbar .container-fluid {
    padding: 0;
}

a.navbar-brand:hover {
    color: var(--navbarFontColor);
}

a.nav-link {
    font-size: 16px;
    height: 50px;
    color: var(--navbarFontColor);
    padding: 12px;

    border: 0px
}
li.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

a.nav-link:hover {
    color: var(--navbarFontColor);
    background-color: var(--navbarHoverColor);
}

li.nav-item:hover {
    color: var(--navbarFontColor);
    background-color: var(--navbarHoverColor);
}
