@using System.Drawing;
<a class="navbar-brand" @onclick="() => Click()" >@Title</a>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Action OnClickEvent { get; set; }



    public void Click()
    {
        this.OnClickEvent.Invoke();
    }

}
