@if (Divider == true)
{
    <DynNavDivider />
}

<li class="nav-item" style="cursor:pointer">
    <a class="nav-link @isActiveStyle" @onclick="() => Click()">@Title</a>

</li>




@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public bool IsActive
    {
        get { return isActive; }
        set { isActive = value; if (isActive) { isActiveStyle = ""; } else { isActiveStyle = "disabled"; } }
    }
    private bool isActive = true;
    private string isActiveStyle = "";


    [Parameter]
    public Action OnClickEvent { get; set; }

    [CascadingParameter]
    public bool Divider { get; set; }



    public void Click()
    {
        if (isActive)
        {
            this.OnClickEvent.Invoke();
        }
    }
}
