
    @if (Divider == true)
    {
        <DynNavDivider />
    }

<li class="nav-item">
    <a class="nav-link" href="@URL">@Title</a>
</li>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string URL { get; set; }


    [CascadingParameter]
    public bool Divider { get; set; }


}
