
<CascadingValue Value="Divider">

    <nav class="navbar navbar-expand-lg" style="@navStyle">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">@Title</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @NavItems
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>
</CascadingValue>

@code {

    [Parameter]
    public Color? BackgroundColor { get; set; } 

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? NavItems { get; set; }

    [Parameter]
    public bool Divider { get; set; }

    [Parameter]
    public string ExtraStyle { get; set; }


    private string style = "";

    private string navStyle;



    protected override void OnInitialized()
    {//rgb(0,0,0)

        if (BackgroundColor is not null) {
            navStyle = $"background-color:rgb({BackgroundColor.Value.R.ToString()},{BackgroundColor.Value.G.ToString()},{BackgroundColor.Value.B.ToString()})"; 
        }
        else
        if (DynSettings.NavBackgroundColor is not null) {
            navStyle = $"background-color:rgb({DynSettings.NavBackgroundColor.Value.R.ToString()},{DynSettings.NavBackgroundColor.Value.G.ToString()},{DynSettings.NavBackgroundColor.Value.B.ToString()})";
        }

        StateHasChanged();
    }

    
}
