@page "/Test"
@using DynamicsUI.Components



<DynNavBar Title="My App 1" Divider="true" >

    <PrimaryArea>
        <DynNavItem Title="Item1" OnClickEvent="Click1" />
        <DynNavItem Title="Item2" />
        <DynNavItem Title="Item3" />
        <DynNavItem Title="Item" IsActive="false" />
    </PrimaryArea>

    <SecondaryArea>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </SecondaryArea>

</DynNavBar>

<p>@i</p>


@code {
    int i = 0;

    public void Click1()
    {
        i = i + 1;
        StateHasChanged();
    }
}
